<div>
  <form [formGroup]="formGroup" ngxsForm="order.orderForm">
    <ag-grid-angular 
      style="width: 1300px; height: 200px;"
      class="ag-theme-balham" 
      [rowData]="instruments$ | async"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [frameworkComponents]="getComponents()"
      [context]="getContext()"
      [getRowNodeId]="getRowNodeId"
      (gridReady)="gridReady($event)"
      (rowDataChanged)="onRowDataChange($event)">
    </ag-grid-angular>
  </form>
</div>

<div>{{ formGroup.value | json }}</div>
<div>{{ formGroup.valid }}</div>
<div>{{ formGroup.dirty }}</div>